<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Angular Albums</title>
	
	<!-- Angular framework libraries -->
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	
	<!-- My Angular Application Java script -->
	<script type="text/javascript" src="js/custom/AlbumModule.js"></script>
	<script type="text/javascript" src="js/custom/AlbumController.js"></script>
	
	<link rel="stylesheet" href="css/bootstrap.css"/>
	<link rel="stylesheet" href="css/app.css"/>
</head>
<body data-ng-app="albumApp" style="padding:50px">
	
	<div class="container" data-ng-controller="AlbumController">
		<div class="page-header">
			<div class="alert alert-info"> 
				<strong>My Journey Albums</strong>
				<input type="text" placeholder="Type to search..." data-ng-model="searchAlbum" style="width:20%;float:right"/><br/>
			</div>
		</div>
		
		<div class="album panel panel-primary"  data-ng-repeat="album in albums | filter:{ title:searchAlbum } | orderBy:'title'">
  				<div class="panel-heading">
    				<h3 class="panel-title">
    					<span>{{ album.title }}</span>
    					<span style="float:right">{{ album.date | date:'mediumDate'}} </span>
    				</h3>
  				</div>
  				<div class="panel-body">
    					{{ album.desc }}
  				</div>
		</div>
		
		<div style="clear:left"></div>
		
		<h2 style="margin-left:20px;margin-right:20px">Add a new Album</h2>
		<div class="album panel panel-default">
  				<div class="panel-heading">
  					<div class="alert alert-danger" role="alert" data-ng-show="add_album_error_message"> {{ add_album_error_message }} </div>
    				<h3 class="panel-title">
					<input type="text" placeholder="Album title" style="width: 49%"
						data-ng-model="newAlbum.title" data-ng-required="true" /> <input
						type="text" placeholder="yyyy-mm-dd"
						style="float: right; width: 49%" data-ng-model="newAlbum.date"
						data-ng-required="true" data-ng-minlength="10" />
				</h3>
  				</div>
  				<div class="panel-body">
    				<textarea rows="4" placeholder="Enter the trip desc.." data-ng-model="newAlbum.desc" data-ng-required="true"></textarea><br/>
    				<input type="text" placeholder="Short Name" data-ng-model="newAlbum.shortName" data-ng-required="true"/><br/>
    				<button type="button" class="btn btn-success" data-ng-click="addNewAlbum(newAlbum)">Add New Album</button>
  				</div>
		</div>
	</div>
</body>
</html>