.html-body {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: lemonchiffon;
}

.navbar-custom {
	min-height: 80px;
	background-color: burlywood;
}

.alert-custom {
	background-color: lightsteelblue;
	color: teal	
}

.label-custom {
	font-size: x-large;
	font-family: sans-serif;	
}

.navbar-menu-link {
	color: #FFF;
}

div.album {
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	width: 300px;
	min-height: 200px
}

div.input {
	margin-left: 60px;
	margin-right: 60px;
	size: 20pc;
}

input[type=text] {
	padding: 5px;
	border-radius: 4px;
	border: 1px solid #ccc;
	width: 45%;
	margin-bottom: 10px
}

.odd {
	color: orange;
}

.even {
	color: yellow;
}

textarea {
	padding: 5px;
	border-radius: 4px;
	border: 1px solid #ccc;
	width: 100%;
	height: 100%;
	margin-bottom: 10px
}

.photo{
	float:left;
	margin-right:5px;
	width:50%;
	height:50%;
	min-height: 200px;
	display: inline-block;
}